.moving-box {
  display: inline-block;
  margin: 1vw 5vw;
  width: 10vw;
  height: 10vw;
  background-image: linear-gradient(rgb(228, 15, 15), silver);
}

#container.started > .moving-box {
  animation: animate-box 1s linear infinite alternate;
}

@keyframes animate-box {
  from {
    margin-left: 1vw;
  }
  to {
    margin-left: 80vw;
  }
}
