.moving-box {
  display: inline-block;
  margin-top: 4rem;
  padding: 4rem;
  background-color: papayawhip;
  color: palevioletred;
  padding: 4em;
}

#container.started > .moving-box {
  animation: animate-box 1s linear infinite alternate;
}

@keyframes animate-box {
  from {
    margin-left: 1rem;
  }
  to {
    margin-left: 20rem;
  }
}
